{% extends "events/base.html" %}

{% block title %}
	<title> [EventsMap] O autorze </title>
{% endblock %}

{% block bodyContent %}
	<div class="container">

		<div class= "row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header" style="margin-right: -10px">
			 			<a class="navbar-brand" href="/../../">MAPA KONCERTOWA</a>
			 			<button class="navbar-toggle" data-toggle="collapse" data-target="#zawartoscMenu">
			 				<span class="icon-bar"></span>
			 				<span class="icon-bar"></span>
			 				<span class="icon-bar"></span>
			 			</button>
					</div>
					<div class="collapse navbar-collapse" id="zawartoscMenu">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/../../listOfEvents">SPIS KONCERTÓW</a></li>
							<li><a href="/../../mainMap">MAPA GŁÓWNA</a></li>
							<li class="nav-link disabled"><a href="#">WIDOK SELEKCJI</a></li>
							<li class="active"><a href="#">ABOUT</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		
		<div class= "row">
			<div class="page-header">
				<h3>ABOUT</h3>
				<p>Informacje o stronie || Informacje o autorze</p>
			</div>
		</div>

		<div class="row">

		  <div class="col-md-6">
		  	<img class="img-responsive" src="/static/events/image/gruzja_compressor.png" alt="Przemyslaw Bieganski - Gruzja 2016">
		  </div>

		  <div class="col-md-6">
		  	<h4>A tutaj opis</h4>
		  	{% lorem 2 p %}		  	
		  </div>

		</div>

		<hr>

		<div class = "row">

			<div class="col-md-6">
				<h4>Proces pozyskania danych</h4>
				{% lorem 2 p %}		  	
			</div>

			<div class="col-md-6">
				<h4>Opracowanie web aplikacji</h4>
				{% lorem 2 p %}		  	
			</div>

		</div>

	</div>
{% endblock %}