{% extends "events/base.html" %}

{% block title %}
	<title> [EventsMap] O autorze </title>
{% endblock %}

{% block bodyContent %}
	<div class="container">

		<div class= "row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
			 			<a class="navbar-brand" href="#">MAPA KONCERTOWA</a>
					</div>
					<ul class="nav navbar-nav">
						<li ><a href="/../../">Strona startowa</a></li>
						<li><a href="/../../listOfEvents">Spis koncertów</a></li>
						<li><a href="/../../mainMap">Mapa wydarzeń</a></li>
						<li class="nav-link disabled"><a href="#">Widok szczegółowy</a></li>
						<li class="active"><a href="#">O autorze</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<div class= "row">
			<div class="page-header">
				<h3>ABOUT</h3>
				<p>Informacje o stronie || Informacje o autorze</p>
			</div>
		</div>

		<div class="row">

		  <div class="col-md-6">
		  	<img class="img-responsive" src="/static/events/image/gruzja_compressor.png" alt="Przemyslaw Bieganski - Gruzja 2016">
		  </div>

		  <div class="col-md-6">
		  	<h4>A tutaj opis</h4>
		  	{% lorem 2 p %}		  	
		  </div>

		</div>

		<hr>

		<div class = "row">

			<div class="col-md-6">
				<h4>Proces pozyskania danych</h4>
				{% lorem 2 p %}		  	
			</div>

			<div class="col-md-6">
				<h4>Opracowanie web aplikacji</h4>
				{% lorem 2 p %}		  	
			</div>

		</div>

	</div>
{% endblock %}