{% load leaflet_tags %}
{% load static %}

<html>
	<head>
		{% block title %}
			<title>Template do zmiany</title>
		{% endblock %}
		<meta charset="utf-8" />

		{# ladowanie leaflet #}
		{% leaflet_js %}
	    {% leaflet_css %}

	    {# ladowanie  markercluster - zapewnia clustering znacznikow na mapie #}
	    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
	    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />

	    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
	    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>

	    {# ladowanie bootstrapa #}
	    <link rel="stylesheet" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
	    <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

	    <link rel="stylesheet" href="/static/events/table.css">
		{% block extraHead %}
		{% endblock %}
	</head>
	
	<body>
		{% block bodyContent %}
		{% endblock %}
	</body>

	<hr>

	<footer>
		<div class="container">
			<p>&copy; Przemysław Biegański - wszelkie prawa zastrzeżone ({% now 'Y' %})</p>
		</div>
	</footer>

</html>