{% extends "events/base.html" %}

{% block title %}
	<title> [EventsMap] Startowa </title>
{% endblock %}

{% block bodyContent %}
<div class="container">

	<div class= "row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
		 			<a class="navbar-brand" href="#">PERSONALIZOWANA MAPA KONCERTOWA</a>
				</div>

				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Strona startowa</a></li>
					<li><a href="/../../listOfEvents">Spis koncertów</a></li>
					<li><a href="/../../mainMap">Mapa wydarzeń</a></li>
					<li class="nav-link disabled"><a href="#">Widok szczegółowy</a></li>
					<li><a href="/../../about">O autorze</a></li>
				</ul>

			</div>
		</nav>
	</div>
	
	<div class= "row">
		<div class="page-header">
			<h3>Strona startowa aplikacji</h3>
		</div>
	</div>

	<div class="row">
	  <div class="col-sm-4">
	  	<h4>Spis koncertów</h4>
	  	{% lorem 1 p %}
	  </div>

	  <div class="col-sm-4">
	  	<h4>Mapa wydarzen</h4>
	  	{% lorem 1 p %}		  	
	  </div>

	  <div class="col-sm-4">
	  	<h4>O autorze</h4>
	  	{% lorem 1 p %}
	  </div>
	</div>
	</div>
{% endblock %}