{% extends "events/base.html" %}

{% block title %}
	<title> [EventsMap] Startowa </title>
{% endblock %}

{% block bodyContent %}
<div class="container">

	<div class= "row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Strona startowa</a></li>
			<li><a href="/../../listOfEvents">Spis koncertów</a></li>
			<li><a href="/../../mainMap">Mapa wydarzeń</a></li>
			<li class="nav-link disabled"><a href="#">Widok szczegółowy</a></li>
			<li><a href="/../../about">O autorze</a></li>
		</ul>
	</div>
	
	<div class= "row">
		<div class="page-header">
			<h3>PERSONALIZOWANA MAPA KONCERTOWA</h3>
			<small>Strona startowa aplikacji.</small>
		</div>
	</div>

	<div class="row">
	  <div class="col-sm-4">
	  	<h4>Spis koncertów</h4>
	  	{% lorem 1 p %}
	  </div>

	  <div class="col-sm-4">
	  	<h4>Mapa wydarzen</h4>
	  	{% lorem 1 p %}		  	
	  </div>

	  <div class="col-sm-4">
	  	<h4>O autorze</h4>
	  	{% lorem 1 p %}
	  </div>
	</div>
	</div>
{% endblock %}