{% extends "events/base.html" %}

{% block title %}
	<title> [EventsMap] Spis </title>
{% endblock %}

{% block bodyContent %}
	<div class="container">

		<div class= "row">
			<ul class="nav nav-tabs">
				<li><a href="/../../">Strona startowa</a></li>
				<li class= "active"><a href="#">Spis koncertów</a></li>
				<li><a href="/../../mainMap">Mapa wydarzeń</a></li>
				<li class="nav-link disabled"><a href="#">Widok szczegółowy</a></li>
				<li><a href="#">O autorze</a></li>
			</ul>
		</div>

		<div class="page-header">
			<h3>PERSONALIZOWANA MAPA KONCERTOWA</h3>
			<small>Spis wydarzeń muzycznych.</small>
		</div>

		<script>
			$(document).ready(function() {
			    $('#mainTable').DataTable({
			    	"paging":   false,
			    });
			} );
		</script>

		{% if all_events %}
			<table id="mainTable" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Wydarzenie</th>
						<th>Data</th>
						<th>Miejsce</th>
						<th>Miasto</th>
						<th>Kraj</th>
					</tr>
				</thead>
				<tbody>
					{% for concert in all_events %}
						<tr>
							<td style="width:25%">
							<a href="/../../details/band/{{concert.title}}">{{ concert.title }}</a></td>
							<td style="width:10%">{{ concert.event_date|slice:":10" }}</td>
							<td style="width:25%">{{ concert.place }}</td>
							<td style="width:20%">
							<a href="/../../details/city/{{concert.city}}">{{concert.city}}</a></td>
							<td style="width:20%">
							<a href="/../../details/country/{{concert.country}}">{{concert.country}}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
		    <p>No events found.</p>
		{% endif %}
	</div>

{% endblock %}