{% extends "events/baseMap.html" %}

{% block title %}
	<title> [EventsMap] Mapa </title>
{% endblock %}

{% block subtitle %}
	<script>
		var subtitle = 'WSZYSTKIE WYDARZENIA';
	</script>
{% endblock %}

{% block nav-map-class %}
	class="active"
{% endblock %}

{% block nav-details %}
	class="nav-link disabled"
{% endblock %}

{% block markersLoading %}
	{% if all_events %}
		{% for concert in all_events %}
			{% include "events/sub_addmarker.html" %} 
		{% endfor %}
	{% endif %}
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Lista artystów</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
	  	<p>{% for band in distinct_band %}
			<a href="/details/band/{{band.artist}}">[ {{band.artist}} ]</a>
	{% endfor %}</p>
	  </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Lista miast</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
		<p>{% for city in distinct_city %}
      {% if city.city != "" %}
         <a href="/details/city/{{city.city}}">[ {{ city.city }} ]</a>
      {% endif %}
		{% endfor %}</p></div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Lista klubów</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
		<p>{% for city in distinct_place %}
			<a href="/details/place/{{city.place}}">[ {{ city.place }} ]</a>
		{% endfor %}</p></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Lista krajów</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body"><p>{% for country in distinct_country %}
    	<a href="/details/country/{{country.country}}">[ {{ country.country }} ]</a>
	{% endfor %}</p></div>
    </div>
  </div>

</div>
{% endblock %}