{% extends "events/baseMap.html" %}

{% block title %}
	<title> [EventsMap] Mapa </title>
{% endblock %}

{% block subtitle %}
	Mapa główna - zawiera wszystkie wydarzenia muzyczne.
{% endblock %}

{% block wczytywanieMarkerow %}
	{# dodawanie znacznikow #}
	{% if all_events %}
		{% for concert in all_events %}
			{% include "events/sub_addmarker.html" %} 
		{% endfor %}
	{% endif %}
{% endblock %}

{% block content %}
	<h2>Lista wydarzeń:</h2>
	<p>{% for band in distinct_band %}
    	<a href="/details/band/{{band.title}}">[ {{band.title}} ]</a>
	{% endfor %}</p>

	<h2>Lista miast:</h2>
	<p>{% for city in distinct_city %}
    	<a href="/details/city/{{city.city}}">[ {{ city.city }} ]</a>
	{% endfor %}</p>

	<h2>Lista krajów:</h2>
	<p>{% for country in distinct_country %}
    	<a href="/details/country/{{country.country}}">[ {{ country.country }} ]</a>
	{% endfor %}</p>
{% endblock %}