{% extends "events/baseMap.html" %}

{% block title %}
	<title> [EventsMap] Szczegóły </title>
{% endblock %}

{% block nav-details %}
	class="active"
{% endblock %}

{% block nav-map-href %}
	"/../../mainMap"
{% endblock %}

{% block subtitle %}
	Rezultat filtrowania - zawiera wybrane wydarzenia muzyczne dla {{value}}.
{% endblock %}

{% block content %}
	{% if data %}
	    {% if category in categoryList %}
	    <div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Wydarzenie</th>
						<th>Data</th>
						<th>Miejsce</th>
						<th>Miasto</th>
						<th>Kraj</th>
					</tr>
				</thead>
				<tbody>
				    {% for concert in data %}
				    	{% if category == 'country' %}
					    	{% if concert.country == value %}
					    		{% include "events/sub_addmarker.html" %}
					    		<tr>
									<td style="width:25%">
									<a href="/../../details/band/{{concert.title}}">{{ concert.title }}</a></td>
								 	<td style="width:15%">{{concert.event_date|slice:":10" }}</td>
									<td style="width:20%">{{concert.place}}</td>
									<td style="width:20%"><a href="/../../details/city/{{concert.city}}">{{concert.city}}</a></td>
									<td style="width:20%"><a href="/../../details/country/{{concert.country}}">{{concert.country}}</a></td>
								</tr>
						    {% endif %}

						{% elif category == 'city' %}
							{% if concert.city == value %}
								{% include "events/sub_addmarker.html" %}
					    		<tr>
									<td style="width:25%">
									<a href="/../../details/band/{{concert.title}}">{{ concert.title }}</a></td>
								 	<td style="width:15%">{{concert.event_date|slice:":10" }}</td>
									<td style="width:20%">{{concert.place}}</td>
									<td style="width:20%"><a href="/../../details/city/{{concert.city}}">{{concert.city}}</a></td>
									<td style="width:20%"><a href="/../../details/country/{{concert.country}}">{{concert.country}}</a></td>
								</tr>
							{% endif %}

						{% elif category == 'band' %}
							{% if concert.title == value %}
								{% include "events/sub_addmarker.html" %}
					    		<tr>
									<td style="width:25%">
									<a href="/../../details/band/{{concert.title}}">{{ concert.title }}</a></td>
								 	<td style="width:15%">{{concert.event_date|slice:":10" }}</td>
									<td style="width:20%">{{concert.place}}</td>
									<td style="width:20%"><a href="/../../details/city/{{concert.city}}">{{concert.city}}</a></td>
									<td style="width:20%"><a href="/../../details/country/{{concert.country}}">{{concert.country}}</a></td>
								</tr>
							{% endif %}			
						{% endif %}
				    {% endfor %}
				</tbody>
			</table>
		</div>

	    {% else %}
	    	<p>Nieprawidlowa wartosc kategorii.</p>
	    	<p>Dopuszczalne wartosci to:</p>
	    	<ul>
	    		<li>band</li>
	    		<li>city</li>
	    		<li>country</li>
	    	</ul>
	    {% endif %}

	{% else %}
	    <p>No events found.</p>
	{% endif %}
{% endblock %}